<div class="container mt-3" [formGroup]="form">
  <div class="alert alert-warning" *ngIf="form.errors?.noPizzas && form.dirty">
    {{ form.errors?.noPizzas.message }}
  </div>

  <div class="row">
    <div class="col-md-8">
      <app-pizza-editor
        (addPizza)="onPizzaAdd()"
        [selectedPizzaGroup]="selectedPizzaGroup"
      >
      </app-pizza-editor>

      <app-customer-details
        [group]="form.get('customerDetails')"
      ></app-customer-details>

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-secondary" (click)="reset()">
            Reset
          </button>
          <button
            type="button"
            class="btn btn-primary float-right"
            (click)="submit(form.value)"
          >
            Place order
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <app-pizza-list
        [group]="form"
        (pizzaSelected)="onPizzaSelected($event)"
        (addPizza)="onPizzaAdd()"
        (deletePizza)="onPizzaDelete($event)"
      >
      </app-pizza-list>
    </div>
  </div>
</div>
