<div class="card bg-light">
  <div
    class="card-body"
    *ngIf="selectedPizzaGroup"
    [formGroup]="selectedPizzaGroup"
  >
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="selectedPizzaGroup.errors?.toppingPizzaSize"
    >
      {{ selectedPizzaGroup.errors?.toppingPizzaSize?.message }}
    </div>

    <div class="text-center">
      <app-pizza-size-picker formControlName="size"></app-pizza-size-picker>
    </div>

    <h5>Toppings</h5>
    <div class="toppings-selector" formArrayName="toppings">
      <div
        class="mr-3"
        *ngFor="let topping of toppingsArray.controls"
        [formGroup]="topping"
      >
        <div class="form-group">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [formControl]="topping.get('selected')"
              [id]="topping.get('name').value"
            />
            <label class="form-check-label" [for]="topping.get('name').value">
              {{ topping.get('name').value }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body text-center" *ngIf="!selectedPizzaGroup">
    <h4>
      You have not selected any pizzas yet.
    </h4>
    <button class="btn btn-success" (click)="addPizza.emit()">
      <fa-icon [icon]="faPlusCircle"></fa-icon> Add one
    </button>
  </div>
</div>
