<div [formGroup]="group">
  <h3>Customer Details</h3>

  <div class="row">
    <div class="col-md-4 form-group">
      <label for="firstName">First Name</label>
      <input id="firstName" class="form-control" formControlName="firstName" />
    </div>
    <div class="col-md-4 form-group">
      <label for="lastName">Last Name</label>
      <input id="lastName" class="form-control" formControlName="lastName" />
    </div>
    <div class="col-md-4 form-group">
      <label for="phoneNumber">Phone Number</label>
      <input
        id="phoneNumber"
        class="form-control"
        formControlName="phoneNumber"
      />
    </div>
  </div>

  <h3>Delivery Address</h3>
  <div class="row" [formGroup]="group.get('address')">
    <div class="col-md-3 form-group">
      <label for="street">Street</label>
      <input id="street" class="form-control" formControlName="street" />
    </div>
    <div class="col-md-3 form-group">
      <label for="houseNum">Apt. Number</label>
      <input id="street" class="form-control" formControlName="houseNum" />
    </div>
    <div class="col-md-3 form-group">
      <label for="city">City</label>
      <input id="city" class="form-control" formControlName="city" />
    </div>
    <div class="col-md-3 form-group">
      <label for="floor">Floor</label>
      <input id="floor" class="form-control" formControlName="floor" />
    </div>
  </div>
</div>
