<div [formGroup]="group">
  <h2>Pizzas order</h2>
  <div formArrayName="pizzas">
    <button
      *ngFor="let pizza of pizzasArray.controls; let i = index"
      class="btn btn-block pizza-button"
      [ngClass]="getClass(pizza, i)"
      (click)="pizzaSelected.emit(i)"
      [formGroup]="pizza"
    >
      <div class="pizza-title">
        {{ getPizzaTitle(pizza.value) }}
      </div>

      <div (click)="deletePizza.emit(i); $event.stopPropagation()">
        <fa-icon [icon]="faMinusCircle"></fa-icon>
      </div>
    </button>

    <button class="btn btn-success btn-block" (click)="addPizza.emit()">
      <fa-icon [icon]="faPlusCircle">add_circle</fa-icon>
    </button>
  </div>
</div>
