<div
  class="btn-group btn-group-toggle"
  ngbRadioGroup
  name="pizzaSize"
  [(ngModel)]="pizzaSize"
  (ngModelChange)="changeSize()"
>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="PizzaSizeEnum.SMALL" />SMALL
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="PizzaSizeEnum.MEDIUM" />MEDIUM
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="PizzaSizeEnum.LARGE" />LARGE
  </label>
</div>
