.full-width-input {
  width: 100%;
}

.mg-top-15 {
  margin-top: 15px;
}

.mg-bottom-15 {
  margin-bottom: 15px;
}

.pull-right {
  float: right;
}

.ValidationErrorLabel {
  width: 100%;
  background: #d42434;
  color: white;
  padding: 15px;
  border-radius: 3px;
}
